# Comments & Basic Data Types

In [2]:
# this is a comment
print("Hola")    # this is also a comment

Hola

In [4]:
"""
This is a multi-line comment
"""
print("Hello")   # this is also a comment

Hello

In [5]:
# the following are all integers
print(2)
print(10)

2
10

In [6]:
# the following are all floats 
print(10.789)
print(1.0)   # even this number is a float

10.789
1.0

In [7]:
# the following are booleans
print(True)
print(False)

True
False

In [8]:
# the following are strings or string literals
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

Variables

In [9]:
num1=5   # storing an integer into a variable
num2=8.4 # storing a float into a variable
print(num1, num2)  # you can print multiple items using commas

5 8.4

In [10]:
# storing a boolean into a variable
switch=True
print(switch)

True

In [11]:
# storing strings into a variable
name="John Smith"
fav_num="9"
print(name, fav_num)  # will print 9 next to the name

John Smith 9

In [13]:
# using two variables to create another variable
result=num1 + num2
print(result)

13.4

In [14]:
# adding, deleting, multiplying, dividing from a variable
result += 1  # same as saying result=result + 1
print(result)
result *= num1  # same as saying result=result * num1
print(result)

14.4
72.0

In [15]:
# defining a variable and overwriting its value
name="John"
print(name)
name="Sam"
print(name)

John
Sam

In [17]:
# Tuesday Exercises
# variable output

x=3
y=10
result=x * y
print(result)
result=x + y
print(result)

30
13

In [18]:
# Tuesday Exercises
# Area Calculation

width=245.54
height=13.66
area=width * height
print(area)

3354.0764

Working With Strings

In [19]:
# using the addition operator without variables

name="John" + " " + "Smith"
print(name)

John Smith

In [20]:
# using the addition operator with variables

first_name="John"
last_name="Smith"
full_name=first_name + " " + last_name
print(full_name)

John Smith

In [21]:
# injecting variables using the FORMAT METHOD

name="John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 35))

Hello John
Hello John, you are 35 years old!

In [22]:
# using the new f strings (you need python 3.6 to use this feature)

name="John"
print(f"Hello {name}")

Hello John

In [23]:
# formatting in python2
# one major difference between versions 2 & 3
name="John"
print("Hello, %s" % name)

Hello, John

In [24]:
# python 2 multiple variable formatting

first_name="John"
last_name="Smith"
print("Hello, %s %s" %(first_name, last_name))  # surround the variables in parenthesis

Hello, John Smith

In [26]:
# using indexes to print each element

word="Hello"
print(word[0])    # will output 'H'
print(word[1])    # will output 'e'
print(word[-3])
print(word[-2])
print(word[-1])   # will output 'o', the last letter

H
e
l
l
o

In [27]:
# String Slicing

print(word[0:3])  # will output 'Hel'
print(word[0:5:2]) # will output 'Hlo'

Hel
Hlo

Wednesday EXERCISES

In [28]:
# variable injection

name="John"
num1=33
num2=4.5
guess=False
print(num1, num2, guess, name)

33 4.5 False John

In [29]:
# fill in the blanks

name="Mario"
fav_sport="volleyball"
hobby="python"
print("{}'s favorite sports is {}.".format(name, fav_sport))
print("{} is working on {} programming!".format(name, hobby))

Mario's favorite sports is volleyball.
Mario is working on python programming!

Manipulating Strings

In [31]:
# using the title method to capitalize a string

name="john smith"
print(name.title())
print(name.lower())
print(name.upper())

John Smith
john smith
JOHN SMITH

In [32]:
# using the replace method to replace an exclamation point with a period

words="Hello there!"
print(words.replace("!", "."))

Hello there.

In [33]:
# finding the starting index of our searched term

s="Look over that way"
print(s.find("over"))

5

In [34]:
# removing white space with STRIP method
name=" john "
print(name.strip())
print(name.lstrip())
print(name.rstrip())

john
john
 john

In [36]:
# converting a string into a list of words using SPLIT method

s="These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

Thursday Exercises

In [37]:
# Uppercasing

word="uppercase"
print(word.upper())

UPPERCASE

In [39]:
# Strip Symbols

word="$$John Smith"
print(word.strip("$$"))
print(word.lstrip("$$"))

John Smith
John Smith

In [40]:
help(" ".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

FRIDAY PROJECT: Printing Receipts

In [62]:
# to print the top border

print("*" * 50)

# to create the address of the company
comp_name="coding temple, inc."
comp_addr="283 Franklin St."
comp_city="Boston, MA"
print("\t\t{}".format(comp_name.title()))
print("\t\t{}".format(comp_addr))
print("\t\t{}".format(comp_city))

# to print the border before the products
print("=" * 50)

# to create products and their prices
p1_name, p1_price="books", 49.95
p2_name, p2_price="computer", 579.99
p3_name, p3_price="monitor", 124.89
print("\tProduct Name\t\tProduct Price")
print("\t{}\t\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t\t${}".format(p3_name.title(), p3_price))

# to print border before Total
print("=" * 50)

#to print Total
print("\t\t\t\tTotal")
result=p1_price + p2_price + p3_price
print(f"\t\t\t\t${result}")

# to print border before the message
print("=" * 50)

# to print message
msg="Thanks for shopping with us today!"
print("\n\t{}\n".format(msg))

#to print the bottom border
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name		Product Price
	Books			$49.95
	Computer		$579.99
	Monitor			$124.89
==================================================
				Total
				$754.83
==================================================

	Thanks for shopping with us today!

**************************************************